@font-face {
    font-family: 'VCR OSD Mono';
    src: url('/font/vcr-osd-mono.ttf') format('truetype');
}

.eventName {
    font-family: 'VCR OSD Mono', monospace;
    font-size: 3.125rem; /* 50px converted to rem */
    font-weight: 400;
    line-height: 2.8rem; /* 20px converted to rem */
    letter-spacing: 0;
    text-align: center;
    width: 50.4375rem; /* 807px converted to rem */
    height: 6.25rem; /* 100px converted to rem */
    left: 14.75rem; /* 236px converted to rem */
    text-decoration-color: #E800D2;
    color: #E800D2;
    display: block;
    margin-top: 1.875rem; /* 30px converted to rem */
    padding-right: 20px; /* Adjust as needed */
    padding-left: 20px; /* Adjust as needed */
}

.eventContent,
.eventContent1 {
    font-family: 'VCR OSD Mono', monospace;
    font-size: 1.25rem; /* 20px converted to rem */
    font-weight: 400;
    line-height: 1.25rem; /* 20px converted to rem */
    letter-spacing: 0;
    text-align: center;
    width: 50.4375rem; /* 807px converted to rem */
    height: 6.25rem; /* 100px converted to rem */
    top: 12.5rem; /* 200px converted to rem */
    left: 14.75rem; /* 236px converted to rem */
    text-decoration-color: #ffffff;
    color: #ffffff;
    display: block;
    margin-top: 0.625rem; /* 10px converted to rem */
    margin-bottom: 3rem;
}

.navBar {
    padding: 3.75rem; /* 60px converted to rem */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.image {
    margin-top: 2rem; /* 100px converted to rem */
}

.registerButton {
    font-family: 'VCR OSD Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9375rem 1.5625rem; /* 15px 25px converted to rem */
    background-color: #E800D2;
    color: #FFFFFF;
    text-decoration: none;
    border: 0.0625rem solid #E800D2; /* 1px converted to rem */
    width: 11.25rem; /* 180px converted to rem */
    height: 3.75rem; /* 60px converted to rem */
    border-radius: 1.46875rem; /* 23.5px converted to rem */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    bottom: 0%;
}

.registerButton:hover {
    background-color: #FF00FF;
    cursor: pointer;
    transform: translateY(-0.3125rem); /* -5px converted to rem */
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3); /* 10px converted to rem */
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10.25rem; /* 100px converted to rem */
    margin-top: 3 rem; /* -30px converted to rem */
}

.prizeInfo {
    color: #e800d2;
}

/* CSS for mobile view */
@media (max-width: 767px) {
    .eventName {
      font-size: 2rem; /* Adjust font size for mobile */
      width: auto; /* Allow width to adjust based on content */
      margin-left: 1rem; /* Adjust margin for better alignment */
      margin-right: 1rem; /* Adjust margin for better alignment */
    }
  
    .eventContent,
    .eventContent1 {
      font-size: 1rem; /* Adjust font size for mobile */
      width: auto; /* Allow width to adjust based on content */
      margin-top: 0.5rem; /* Adjust top margin for better spacing */
      margin-bottom: 1.5rem; /* Increase bottom margin for better spacing */
      text-align: left; /* Align content to the left */
      margin-left: 1rem;
      margin-bottom: 300px;
    }
  
    .registerButton {
      width: auto; /* Allow width to adjust based on content */
      margin-top: 2rem; /* Increase top margin for better spacing */
      margin-bottom: 2rem; /* Increase bottom margin for better spacing */
      padding: 0.5rem 1rem; /* Adjust padding for smaller button */
      font-size: 1rem; /* Adjust font size for mobile */
      border-radius: 0.5rem; /* Adjust border radius for smaller button */
    }
  
    .buttonContainer {
      padding-bottom: 5rem; /* Adjust bottom padding for better spacing */
    }

    .content {
        margin: 10px;
        padding: 0.5rem;
    }
  }
  