.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 150px;
}
.heading{
    color: white;
    font-family: 'VCR OSD Mono', monospace;
    font-size: 20px;
    font-weight: 400;
    margin-top: 40px;
    padding: 0 20px;
}
.title{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
}
.container ul li p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
}

.footer {
    margin-top: auto;
}
