.accommodationMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh/* Updated to display Simcards in a column */
}

.accommodationInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;

}

.cardLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

