.eventsMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh
}

.eventsInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;

}

.cardLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}
@media (max-width: 768px) {
    .eventsInfo {
        padding: 0 15px; /* Added padding for better readability on mobile */
    }

    .cardLayout {
        flex-direction: column; /* Adjusted for mobile layout */
    }
}

