@font-face {
    font-family: 'VCR OSD Mono';
    src: url('/font/vcr-osd-mono.ttf') format('truetype');
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10px;
    margin-bottom: 40px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 65px;
    border-radius: 23.5px;
    border: 0.5px solid black;
    padding: 0 10px;
}

.navbarArrangement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.navbarArrangement a {
    font-family: 'VCR OSD Mono', monospace;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    margin: 0 25px;
    display: flex;
    align-items: center;
}

.nexuslogo {
    padding-right: 15px;
    margin-right:  auto;
    padding-top: 10px;
    margin-left: auto;

}

.mobileMenuOpen {
    display: none; /* Initially hide the mobile menu */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    background-color: transparent; /* Change to desired background color */
    box-shadow:  2px 10px rgba(0, 0, 0, 0.1);
}

.mobileMenuOpen a {
    margin: 10px 0;
    text-align: center;
}

.mobileMenuOpen .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    z-index: 999;
    background-color: transparent;
    /* other styles */
}
/* Hamburger icon styles */
.hamburgerIcon {
    display: none; /* Hide by default on larger screens */
    font-size: 24px;
    cursor: pointer;
}
.hamburgerIcon.mobileView {
    background-color: transparent;
}
.vashishtlogo {
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;

}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        background-color: transparent;
    }

    .vashishtlogo {
        padding: 10px 0;
        text-align: center;
        order: 2;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        top: 22px; /* Adjust the top position */
        left: 50%;
        transform: translateX(-50%); /* Center horizontally */
    }

    .nav {
        flex-direction: row-reverse;
        border: none;
        border-radius: 0;
        padding: 0;
        width: auto;
    }

    .navbarArrangement {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px; /* Add padding to prevent overlap with dropdown menu */
    }

    .navbarArrangement a {
        margin: 10px 0;
        text-align: center;
    }

    .nexuslogo {
        padding: 10px 0;
        text-align: center;
        order: 2;
        margin-right: auto;
        position: absolute;
        margin-left: auto;
        top: 14px; /* Adjust the top position */
        left: 50%;
        transform: translateX(-350%);
    }

    .hamburgerIcon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        backface-visibility: hidden;
        margin-left: auto;
        margin-top: 10px; /* Adjust the top margin */
        top: 25px;
        right: 10px;
        position: absolute;
        z-index: 1001; /* Ensure the hamburger icon is above the dropdown */
    }

    .hamburgerIcon.mobileView {
        background-color: transparent;
    }

    .nav:not(.mobileMenuOpen) .navbarArrangement {
        display: none;
    }

    .mobileMenuOpen {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed; /* Change to fixed position */
        top: 18%; /* Position at the vertical center of the viewport */
        left: 50%; /* Position at the horizontal center of the viewport */
        transform: translate(-50%, -50%); /* Center the menu */
        z-index: 1000;
    }

    .hamburgerIcon::after,
    .hamburgerIcon::before {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 20px;
    }

    .hamburgerIcon::after {
        transform: rotate(45deg);
    }

    .hamburgerIcon::before {
        transform: rotate(-45deg);
    }

    .mobileMenuOpen .hamburgerIcon::after,
    .mobileMenuOpen .hamburgerIcon::before {
        display: none;
    }
}
