@font-face {
    font-family: 'VCR OSD Mono';
    src: url('/fonts/vcr-osd-mono.ttf') format('truetype');
}

.container {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding-top: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 47px;
    border-radius: 23.5px;
    border: 0.5px solid black;
    
    padding: 0 10px;
}

.navbarArrangement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.navbarArrangement a {
    font-family: 'VCR OSD Mono', monospace;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    margin: 0 25px;
    display: flex;
    align-items: center;
}

.nexuslogo {
    padding-right: 15px;
    margin-right: 10px;
    padding-top: 10px;

}
