@font-face {
    font-family: 'VCR OSD Mono';
    src: url('/fonts/vcr-osd-mono.ttf') format('truetype');
}

.cardContainer {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cardText {
    padding-top: 10px;

}

.cardArrangement {
    display: flex;
    justify-content: space-between;
}

.cardButton {
    font-family: 'VCR OSD Mono', monospace;
    display: inline-block;
    padding: 10px 15px;
    background-color: #E800D2;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    bottom: 20px; /* Adjust the value as needed */
    right: 60px; /* Adjust the value as needed */
}



.cardButton:hover {
    background-color: #FF00FF;
    cursor: pointer;
    transform: translateY(-5px); /* Adjust the value to control the raise effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a subtle shadow */
}


.svg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.svgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
