.cardContainer {
    position: relative;
    width: 400px;
    height: 400px;

}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cardText {
    padding-top: 10px;
}
