.storeMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.storeInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 100px;
}

.cardLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Updated to display Simcards in a column for mobile */
}

/* Additional styles for better responsiveness */

