.talksMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh/* Updated to display Simcards in a column */
}

.talksInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 100px;

}

.cardLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;

}

@media (max-width: 768px) {
    .contentStyles {
        width: 90%; /* Adjust width for better visibility on smaller screens */
    }

    .cardLayout {
        margin-top: 20px; /* Added margin for better spacing on smaller screens */
    }


}