body{
    background: linear-gradient(to bottom, rgb(9, 21, 151) 0.001%, #0E033B 99.999% );
}

/* background: linear-gradient(to bottom, rgb(4, 12, 100) 0%, #0E033B 50%, #1E1A38 100%); */

.inner_retangle_main{ 

    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}